@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    @apply bg-sky-50;
}

button:disabled {
    @apply bg-gray-200 cursor-not-allowed;
}
